body {
  font-family: Lato;
  background-color: rgba(0, 0, 0, 0.1);
}

article {
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 50px;
  text-align: left;
}

article h2 {
  background: rgba(100, 100, 100, 0.6);
  margin-top: 0px;
  padding: 5px 10px;
  color: #ebdc2d;
  font-family: "Droid Serif, serif";
  font-weight: 700;
  font-size: 2em;
}

@media screen and (max-width: 900px) {
  article h2 {
    text-align: center;
  }
}

article img {
  margin-top: 50px;
  border-radius: 5px;
}

article .txt {
  padding: 0px 20px;
}

header {
  margin: 0;
  position: relative;
  height: 100vh;
  background-image: url(../img/coluche_banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-overflow: hidden;
  background-size: 100%;
  transition: background-size 6s linear;
}

@media screen and (max-width: 900px) {
  header {
    width: 100%;
    height: auto;
    min-height: 350px;
  }
}

header li.dropdown i {
  color: black;
  font-size: 3em;
}

header .title {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0;
  bottom: 0px;
  padding-bottom: 50px;
  letter-spacing: 2px;
}

@media screen and (max-width: 900px) {
  header .title {
    padding-bottom: 10px;
  }
}

header .title > h1 {
  margin: 0;
  font-family: "Droid Serif, serif";
  font-weight: 700;
  font-size: 8em;
  color: #ebdc2d;
  text-shadow: 2px 2px #555;
}

header .title > h1 i {
  color: #f54b46;
}

@media screen and (max-width: 900px) {
  header .title > h1 {
    font-size: 4.5em;
  }
}

header .title > .header_quote {
  font-weight: 400;
  color: black;
  margin: auto;
}

@media screen and (max-width: 900px) {
  header .title > .header_quote {
    font-size: 1.6em;
  }
}

header .blockquote:before {
  content: open-quote;
  font-size: 4em;
  font-weight: 400;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

@media screen and (max-width: 900px) {
  header .blockquote:before {
    font-size: 2.5em;
  }
}

.filmo .txt ul {
  list-style: none;
  padding: 10px;
}

.filmo .txt ul li {
  margin-top: 10px;
}

.sketches_content ul {
  margin-bottom: 0;
}

.quotes .txt ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.quotes .txt ul li {
  margin-top: 10px;
}

.carousel_quotes {
  position: relative;
}

.carousel_quotes .carousel > .black_background {
  background-image: url(../img/quotes.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 450px;
  border-radius: 5px;
}

.carousel_quotes .carousel > .black_background .carousel-caption {
  top: 50px;
  left: 0px;
}

.carousel_quotes .carousel > .black_background .carousel-caption h3 > p {
  color: white;
  font-family: "Droid Serif, serif";
  font-weight: 400;
  font-size: 1.6em;
}

footer {
  margin-top: 40px;
  text-align: center;
}
